# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Open Source Tools for Data Science
- Cloud Based Tools for Data Science
- List Libraries for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scipy
4. Matplotlib

| Data Science Tools |
| ------------------ |
| My SQL |
| Apache Spark |
| MongoDB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Insha Batool